- title "Edit Page"
- menu :pages

%h2 edit page

= error_messages_for @page

= form_for @page, :action => url(:admin_page, @page) do
  = partial :form
  = submit "Update"
  or
  = link_to "cancel", url(:admin_pages)