- title "New Page"
- menu :pages

%h2 new page

= form_for @page, :action => url(:admin_pages) do
  = error_messages_for @page
  = partial :form
  = submit "Create"
  or
  = link_to "cancel", url(:admin_pages)