- author = comment.website ? link_to(h(comment.author), h(comment.website)) : h(comment.author)

%li
  %h2= h(comment)
  = RedCloth.new(comment.body, [:filter_html]).to_html
  .author.date= "#{comment.created_at.strftime("%B #{comment.created_at.day.ordinalize}, %Y %H:%M")} by #{author}."
