%li
  %h2= comment
  = comment.body
  - author = comment.website.empty? ? h(comment.author) : link_to(h(comment.author), h(comment.website))
  .author.date= "#{comment.created_at.strftime("%B #{comment.created_at.day.ordinalize}, %Y %H:%M")} by #{author}."