= form_for(comment, :action => url(:comments), :class => "comment") do 
  = hidden_field :content_id
  %h2= text_field :title
  %dl
    %dt
      .hint== You may use #{link_to "Textile", "http://redcloth.org/textile"} formatting to format your comment.
    %dd~ text_area :body
    %dt= label "Your name", :id => "comment_author"
    %dd= text_field :author
    %dt
      = label "Your e-mail address (optional)", :id => "comment_email"
      .hint E-mail addresses will never be published. The only one who can view it is the owner of this blog.
    %dd= text_field :email
    %dt= label "Your website/weblog (optional)", :id => "comment_website"
    %dd= text_field :website
  = submit "Save", :class => "button"