%li{:id => "article-#{article.id}"}
  = article
  %small{:id => "edit-article-#{article.id}", :class => "hidden"}
    = link_to "edit", url(:edit_admin_article, article)
    = delete_button url(:admin_article, article), "delete", :class => "delete_button"