- title "New Article"
- menu :articles

%h2 new article

= form_for @article, :action => url(:admin_articles) do
  = error_messages_for @article
  = partial :form
  = submit "Create"
  or
  = link_to "cancel", url(:admin_articles)