- title "Archive"

%h1= "Articles in #{@date.strftime('%Y')}"
- @articles.group_by { |article| article.published_at.strftime('%Y-%m') }.sort.reverse.each do |group|
  %h2= Time.parse("#{group[0]}-01").strftime('%B')
  %ul.articles= partial :list, :with => group[1]