!!! XML
!!! Strict
%html{html_attrs('en')}
  %head
    %title
      = catch_content :for_title
      to publish
    = css_include_tag :common
    = css_include_tag :master
    = css_include_tag :typography
    = js_include_tag :jquery
  %body
    #auth
      .container
        %ul= partial "layout/auth"
        %br.clear
    - message.each do |kind, value|
      .message{:class => kind.to_s}= value
    .container
      #header
        - if session.authenticated?
          #user.right= session.user.name
          = image_tag gravatar(session.user.email), :class => "right avatar"
        %h1
          to
          = link_to "publish", url(:admin_root)
      #nav
        = render_menu
        %br.clear
      #main= catch_content :for_layout
      #footer
        %p 
          to
          = link_to "publish", "http://github.com/ludo/to-publish", :class => "to publish"
          is developed by 
          = link_to "cubicphuse", "http://cubicphuse.nl"
