- title "New Category"
- menu :categories

%h2 new category

= form_for @category, :action => url(:admin_categories) do
  = error_messages_for @category
  = partial :form
  = submit "Create"
  or
  = link_to "cancel", url(:admin_categories)