- title "Log in"

%h2 log in

%p== Please log in to access your account. Looking for more information? Please visit the #{link_to "publish", "http://github.com/ludo/to-publish/wikis/home", :class => "to publish"} product page.

= error_messages_for session.authentication

= form(:action => slice_url(:merb_auth_slice_password, :perform_login), :method => :put) do
  %dl
    %dt= label "E-mail", :for => "email"
    %dd= text_field :name => "email", :id => "email", :size => 50, :maxlength => 256
    %dt= label "Password", :for => "password"
    %dd= password_field :name => "password", :id => "password", :size => 50, :maxlength => 50
  = check_box :name => "remember_me", :id => "remember_me"
  = label "Remember me", :for => "remember_me"
  %br
  %br
  = submit "Log in"

