- title @category

%h1= "Articles in #{@category}"
%ul.articles
  - for article in @category.articles(:order => [:title])
    %li
      = link_to_content(article)
      \-
      = article.published_at.strftime("%B #{article.published_at.day.ordinalize}, %Y")
      .excerpt== #{article.excerpt}&#8230;
