- title "Edit Author"
- menu :users

%h2 edit author

= form_for @user, :action => url(:admin_user, @user) do
  = error_messages_for @user
  = partial :form
  = submit "Update"
  or
  = link_to "cancel", url(:admin_users)