- title "New Author"
- menu :users

%h2 new author

= form_for @user, :action => url(:admin_users) do
  = error_messages_for @user
  = partial :form
  = submit "Create"
  or
  = link_to "cancel", url(:admin_users)